include AUTHORS
include LICENSE
include README.rst
recursive-include allink_frontend_editor/templates *.html
recursive-include allink_frontend_editor/static *.js
recursive-include allink_frontend_editor/static *.css
