.marked-editable {
  position: relative;
  cursor: pointer;
  word-wrap: initial;
}
.marked-editable:focus {
  cursor: text;
  outline: none;
}
.marked-editable .frontend-editor-btn {
  position: absolute;
  left: -34px;
  top: -7px;
  background-color: #28d59e;
  background-position: 4px 4px;
  cursor: pointer;
  padding: 4px 6px;
  line-height: 1em;
  border-radius: 4px;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.marked-editable .frontend-editor-btn.edit {
  z-index: 9999999;
}
.marked-editable .frontend-editor-btn.edit .frontend-editor-edit-icon:before {
  content: "\e603";
}
.marked-editable .frontend-editor-edit-icon {
  font-family: 'frontend-editor-icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: black;
}
.marked-editable .frontend-editor-edit-icon:before {
  text-decoration: none;
  content: "\e604";
}
.frontend-editing-placeholder {
  color: grey;
}
.live-edit-richtext-btn {
  display: none;
}
.frontend-editor-box {
  font-family: Helvetica;
  font-size: 14px;
  color: black;
  background-color: #28d59e;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
#frontend-editor-panel {
  position: fixed;
  top: 200px;
  right: -110px;
  width: 200px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: height 500ms ease, right 500ms ease;
  -moz-transition: height 500ms ease, right 500ms ease;
  -ms-transition: height 500ms ease, right 500ms ease;
  -o-transition: height 500ms ease, right 500ms ease;
  transition: height 500ms ease, right 500ms ease;
}
#frontend-editor-panel.out li {
  opacity: 1;
  -webkit-transition: opacity 600ms linear 200ms;
  -moz-transition: opacity 600ms linear 200ms;
  -ms-transition: opacity 600ms linear 200ms;
  -o-transition: opacity 600ms linear 200ms;
  transition: opacity 600ms linear 200ms;
}
#frontend-editor-panel .frontend-editor-inner {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 10px 17px 17px;
}
#frontend-editor-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#frontend-editor-panel li {
  opacity: 0;
  -webkit-transition: opacity 200ms linear 0;
  -moz-transition: opacity 200ms linear 0;
  -ms-transition: opacity 200ms linear 0;
  -o-transition: opacity 200ms linear 0;
  transition: opacity 200ms linear 0;
}
#frontend-editor-panel li + li {
  margin-top: 10px;
}
#frontend-editor-panel .btn {
  -webkit-appearance: none;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  color: black;
  width: 100%;
  background: #4affc6;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  display: block;
  text-transform: none;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#frontend-editor-panel .btn:hover {
  background-color: rgba(74, 255, 198, 0.7);
}
#frontend-editor-panel .btn:focus {
  outline: none;
}
#frontend-editor-panel .frontend-editor-icon {
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 19px;
}
#frontend-editor-panel .frontend-editor-icon-floppy {
  font-size: 17px;
  top: 11px;
}
#frontend-editor-panel .frontend-editor-main-icon {
  font-size: 46px;
  color: #4affc6;
  margin: 0 0 10px 0;
  text-decoration: none;
  display: inline-block;
}
#frontend-editor-panel .frontend-editor-main-icon:hover {
  color: rgba(74, 255, 198, 0.7);
}
#frontend-editor-panel .frontend-editor-close-icon {
  position: absolute;
  right: 17px;
  top: 17px;
  color: black;
  font-size: 14px;
  text-decoration: none;
}
#frontend-editor-panel .frontend-editor-close-icon:hover {
  color: rgba(74, 255, 198, 0.7);
}
#frontend-editor-save-progress {
  display: none;
  padding: 17px;
  background-color: #28d59e;
  top: 15px;
  right: 0;
  position: fixed;
  font-family: Helvetica;
  font-weight: bold;
}
#updated-warning {
  background: #ffff00;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
}
#frontend-editor-lightbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}
#frontend-editor-lightbox > .wrapper {
  height: 100%;
  margin: 0 auto;
  display: table;
}
#frontend-editor-lightbox > .wrapper > .inner {
  margin: auto 0;
  display: table-cell;
  font-size: 100%;
  vertical-align: middle;
}
#frontend-editor-lightbox > .wrapper > .inner > .content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
#frontend-editor-lightbox .frontend-editor-textarea-raw {
  width: 300px;
  height: 150px;
}
#frontend-editor-lightbox .frontend-editor-actions a {
  -webkit-appearance: none;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  color: black;
  background: #EEE;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#frontend-editor-lightbox .frontend-editor-actions a:hover {
  background-color: rgba(238, 238, 238, 0.7);
}
#frontend-editor-lightbox .frontend-editor-actions a:focus {
  outline: none;
}
#frontend-editor-lightbox .frontend-editor-actions a + a {
  margin-left: 5px;
}
